<header class="header">
  <a href="/" class="header__logo">
    <img
      src="./assets/groupLogoListo.png"
      alt="logo"
      class="header__logo-image"
    />
  </a>

  <nav [ngClass]="isMenuActive ? 'nav--active' : 'nav'">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="/" class="nav__link">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-download nav__icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
            <path d="M7 11l5 5l5 -5" />
            <path d="M12 4l0 12" />
          </svg>
          Descargas
        </a>
      </li>
      <li class="nav__item">
        <a href="/" class="nav__link">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-building-bank nav__icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M3 21l18 0" />
            <path d="M3 10l18 0" />
            <path d="M5 6l7 -3l7 3" />
            <path d="M4 10l0 11" />
            <path d="M20 10l0 11" />
            <path d="M8 14l0 3" />
            <path d="M12 14l0 3" />
            <path d="M16 14l0 3" />
          </svg>
          Finanzas
        </a>
      </li>
      <li class="nav__item">
        <a href="/" class="nav__link">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-headphones nav__icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M4 13m0 2a2 2 0 0 1 2 -2h1a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-1a2 2 0 0 1 -2 -2z"
            />
            <path
              d="M15 13m0 2a2 2 0 0 1 2 -2h1a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-1a2 2 0 0 1 -2 -2z"
            />
            <path d="M4 15v-3a8 8 0 0 1 16 0v3" />
          </svg>
          Soporte
        </a>
      </li>
    </ul>
  </nav>

  <div
    (click)="toggleMenu()"
    [ngClass]="isMenuActive ? 'burger-button--active' : 'burger-button'"
  >
    <span class="burger-button__item"></span>
    <span class="burger-button__item"></span>
    <span class="burger-button__item"></span>
  </div>
</header>
