<app-header />

<main class="container">
  <form action="" class="form" [formGroup]="loginForm">
    <h2 class="form__title">Inicio de sessión</h2>

    <div class="form__group">
      <label for="user" class="form__label">Usuario:</label>
      <input
        type="email"
        formControlName="user"
        id="user"
        class="form__input"
      />
    </div>
    <div class="form__group">
      <label for="password" class="form__label">Contraseña:</label>
      <input
        type="password"
        formControlName="password"
        id="password"
        class="form__input"
      />
    </div>
    <button class="form__button" (click)="onLogin()">Validar datos</button>
    <a href="/" class="form__link">¿Olvidaste tu contraseña?</a>
  </form>
</main>

<app-footer />
