<app-header />

<app-modal
  [isActive]="isModalActive"
  (modalChange)="isModalActive = false"
  title="Ocurrio un error al enviar los datos"
  text="Verifica que todos los campos del formulario esten correctamente llenados"
/>

<main class="container">
  <form class="form" [formGroup]="loginForm">
    <h2 class="form__title">Inicio de sessión</h2>

    <div class="form__group">
      <label for="user" class="form__label">Usuario:</label>
      <input
        type="email"
        formControlName="user"
        id="user"
        class="form__input"
        placeholder="Ingresa tu usuario"
      />
      @if(user.invalid && (user.dirty || user.touched)) {
      <div>
        @if (user.errors?.['required']) {
        <span class="form__error">El usuario es requerido</span>
        } @if (user.errors?.['email']) {
        <span class="form__error">El correo no es valido</span>
        } @if (user.errors?.['maxlength']) {
        <span class="form__error"
          >La correo no puede ser mayor a 20 caracteres</span
        >
        }
      </div>
      }
    </div>

    <div class="form__group">
      <label for="password" class="form__label">Contraseña:</label>
      <input
        type="password"
        formControlName="password"
        id="password"
        class="form__input"
        placeholder="Ingresa tu contraseña"
      />
      @if(password.invalid && (password.dirty || password.touched)) {
      <div>
        @if (password.errors?.['required']) {
        <span class="form__error">La contraseña es requerido</span>
        } @if (password.errors?.['maxlength']) {
        <span class="form__error"
          >La contraseña no puede ser mayor a 20 caracteres</span
        >
        }
      </div>
      }
    </div>
    <a href="/" class="form__link2">¿Olvidaste tu contraseña?</a>
    <button class="form__button" (click)="onLogin()"></button>
    <a href="/" class="form__link">¿Olvidaste tu contraseña?</a>
  </form>

  <app-carrousel [images]="carrouselImages"></app-carrousel>
</main>

<app-footer />
