@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$color-primary: #ffffff;
$color-secondary: #296595;
$color-success: #42a948;
$color-error: #a94442;
$font: "Roboto", sans-serif;

:root {
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-success: #{$color-success};
  --color-error: #{$color-error};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  overflow-x: hidden;
  position: relative;
  font-family: $font;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

/* Angular form */
.ng-valid:not(form).ng-touched {
  border-bottom: 2px solid var(--color-success) !important;
}

.ng-invalid:not(form).ng-touched {
  border-bottom: 2px solid var(--color-error) !important;
}
